*,*:before,*:after{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.cardContainer{
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: .4rem;
}

.RestaurantCard{
    border : 1px solid black;
    height : 250px;
    width : 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin : 1rem 0rem 0rem 1rem;
}

.RestaurantCard > img{
    height: 100px;
    width: 150px;
    padding-left: .5rem;
}

.RestaurantCard p{
    width: 100%;
    padding-left: .5rem;
    font-weight: 500;
    font-size : .85rem;
    word-wrap: break-word;
    line-height: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}